.about {
    display: flex;
    padding: 90px 100px;
    column-gap: 50px;
    background-color: rgb(232, 249, 224);
}

.about .left img{
    height: 320px;
    padding: 20px;
    transform: rotate(-4deg);
    border: 2px solid #63de82;
}

.about .right {
    /* color: var(); */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .right .right-para {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 1.6;
    font-weight: 400;

}
.about .right h1 {
    font-size: 38px;
    color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #63de82;
}
.about .right p {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .about {
        height: auto;
        padding: 50px 30px;
        flex-direction: column;
    }
    .about .left img {
        height: 300px;
        transform: rotate(-2deg);
    }
    .about .right .right-para {
        line-height: 1.4;
    }

}